.header {
  padding: 60px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: 100px;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
